.Timer {
  display: flex ;
  align-items: center ; 
  font-family : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
 justify-content: center ;
 margin-top: 10%;
 position: relative;
 font-size: 48px;
}
h1{
  padding: 10px ;
}
span{
  margin: 20px ;

}
.clock {
  display: flex ;
}
.Unit{
  position: absolute ;
  left: 410px ;
  top : 200px ;
  
}

